<select id="content-select" #content (change)="updateContents(content.value)">
  <option>-- Please Select An Option --</option>
  <option>Beginning</option>
  <option>Creating an Adventurer</option>
  <option>--Perks</option>
  <option>--Skills</option>
  <option>--Equipment</option>
  <option>Playing an Adventurer</option>
  <option>--Actions</option>
  <option>--Using Magic</option>
  <option>Life on the High Seas</option>
  <option>Skills</option>
  <option>--Weapon and Maneuver Skills</option>
  <option>Jaern: The Planet</option>
  <option>The Onivero</option>
  <option>Jaernian Humanoids</option>
  <option>--Humans</option>
  <option>--Elves</option>
  <option>--Dwarves</option>
  <option>--Orcs</option>
  <option>--Lizards</option>
  <option>Marines for Hire</option>
  <option>Rogues</option>
  <option>--Creating Poisons</option>
  <option>--Traps</option>
  <option>Nomads</option>
  <option>--Core Incants</option>
  <option>--Preserver Incants</option>
  <option>--Troubadour Incants</option>
  <option>--Seeker Incants</option>
  <option>--Second Lifer Incants</option>
  <option>Psionics</option>
  <option>--Clairsentience</option>
  <option>--Metacreativity</option>
  <option>--Psychokinesis</option>
  <option>--Psycometabolism</option>
  <option>--Psychoportation</option>
  <option>--Telepathy</option>
  <option>Elemental Magic</option>
  <option>--Defer</option>
  <option>--Revocation</option>
  <option>--Common Magic</option>
  <option>--Movement</option>
  <option>--Tongues and Scripts</option>
  <option>--Shadow Magics</option>
  <option>--Interdictions</option>
  <option>--Earth Magic</option>
  <option>----Earth Magics</option>
  <option>----Magnetism</option>
  <option>----Hindrances</option>
  <option>----Necromancy/Time</option>
  <option>----Stone Magics</option>
  <option>----War Magics</option>
  <option>----True Necromancy</option>
  <option>----Forging</option>
  <option>--Fire Magic</option>
  <option>----Fire Magics</option>
  <option>----Illumination</option>
  <option>----Conjurations</option>
  <option>----Mind Twisters</option>
  <option>----Chaos Magics</option>
  <option>--Air Magic</option>
  <option>----Air Magics</option>
  <option>----Vision</option>
  <option>----Scrying</option>
  <option>----Dimensions</option>
  <option>----Air Forms</option>
  <option>----Smoke</option>
  <option>----Illusions</option>
  <option>--Water Magic</option>
  <option>----Water Magics</option>
  <option>----Wardings</option>
  <option>----Changings</option>
  <option>----Charms</option>
  <option>Divine Magic</option>
  <option>--Ceremonies</option>
  <option>--Revocation</option>
  <option>--Defer</option>
  <option>--Blessings</option>
  <option>--Fabrications</option>
  <option>--Detections</option>
  <option>--Influences</option>
  <option>Anubis</option>
  <option>--Tomboloko</option>
  <option>--Animotusi</option>
  <option>--Trovisavi</option>
  <option>--Kadavros</option>
  <option>--Faciligo</option>
  <option>At'ena</option>
  <option>Isis</option>
  <option>--Recover</option>
  <option>--Heal</option>
  <option>--Assist</option>
  <option>--Helping</option>
  <option>Neptune</option>
  <option>--Underwater</option>
  <option>--Sea Form</option>
  <option>--Aquatic Life</option>
  <option>--HydroMorph</option>
  <option>Orus</option>
  <option>--Love</option>
  <option>--Hate</option>
  <option>--Courage</option>
  <option>--Fear</option>
  <option>--Disinterest</option>
  <option>Osiris</option>
  <option>--Wilderness</option>
  <option>--Animal Form</option>
  <option>--Land Life</option>
  <option>--Land Morph</option>
  <option>Ra</option>
  <option>--Compile</option>
  <option>--Decompile</option>
  <option>--Disincorporate</option>
  <option>--Encorporate</option>
  <option>--Order</option>
  <option>Rudri</option>
  <option>--Decay</option>
  <option>--Forge</option>
  <option>--Encure</option>
  <option>--Discure</option>
  <option>Tarus</option>
  <option>--Fosiantau</option>
  <option>--Mensa</option>
  <option>--Mezuri</option>
  <option>--Sciovorto</option>
  <option>T'or</option>
  <option>--Body</option>
  <option>--Shield/Defense</option>
  <option>--Weapon/Offensive</option>
  <option>--Mind</option>
  <option>--Righteousness</option>
  <option>--True Justice</option>
  <option>Almar</option>
  <option>--Soul</option>
  <option>--Emotion</option>
  <option>--Energy</option>
  <option>--Power</option>
  <option>Vormaxia</option>
  <option>--Memory</option>
  <option>--Wisdom</option>
  <option>--Language</option>
  <option>--Thought</option>
  <option>Zepherin</option>
  <option>--Strength</option>
  <option>--Appearance</option>
  <option>--Health</option>
  <option>--Speed</option>
  <option>Advanced Magic</option>
  <option>Magical Items and Artifacts</option>
  <option>Creating and Playing Actors</option>
  <option>Creating Creatures</option>
  <option>--Creature Ability Descriptions</option>
  <option>--Creature Disability Descriptions</option>
  <option>Creatures</option>
  <option>--Creature List</option>
  <option>Creating Adventures</option>
  <option>Judging Adventures</option>
  <option>Designer Notes</option>
  <option>Critical Hit Charts</option>
  <option>--Blunt and Bludgeon</option>
  <option>--Edged and Piercing</option>
  <option>--Grapple and Linear</option>
  <option>--Artillery</option>
  <option>Appendix A: Spell Clarifications</option>
  <option>Appendix B: Running the Gods</option>
  <option>Appendix C: Quick Start</option>

</select>
<button (click)='openBook()'>Go to Section</button>