<div class="nav-side-menu">
  <div class="brand">Fantasy Club</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <i class="fa fa-dashboard fa-lg"></i> Username : {{username}}
      </li>
      <li data-toggle="collapse" data-target="#inOut" class="collapsed active">
        <a href="#"><i class="fa fa-gift fa-lg"></i> Sign In/Out <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="inOut">
        <li>Sign In</li>
        <li>Sign Out</li>
      </ul>


      <li data-toggle="collapse" data-target="#characters" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Characters <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="characters">
        <li>Character 1</li>
        <li>Character 2</li>
        <li>Character 3</li>
      </ul>
    </ul>
  </div>
</div>