<mat-toolbar id="navigation" color="primary">
  <span><h3>Purdue Fantasy Club</h3></span>
  <div class="col">
    <span><b>User: {{user_name}}</b></span><br>
    <span><b>Character: {{actualChar}}</b></span>
  </div>
  <span class="space"></span>
  <span class="button-container first"><button mat-button (click)="toggleLogin()">Log In/Out</button></span>
  <span class="button-container"><button mat-button (click)="toggleCharacters()">Characters</button></span>
  <span class="button-container"><button mat-button (click)="toggleSessions()">Current Sessions</button></span>
  <span class="button-container"><button mat-button (click)="toggleDR()">Dice Roller</button></span>
  <span class="button-container"><button mat-button (click)="toggleCreator()">Creator</button></span>
  <span class="button-container"><button mat-button (click)="toggleRulebook()">Rulebook</button></span>
  <span class="button-container"><button mat-button (click)="toggleCrit()">Critical Charts</button></span>
  <span class="button-container"><button mat-button (click)="toggleSettings()">Settings</button></span>
</mat-toolbar>

<mat-card>
  <div class="option-pane no-display">
    <div *ngIf="getCurrentPane()=='login'">
        <input type="button" value="Log In" (click)=signIn()/>
        <input type="button" value="Log Out" (click)=signOut()/>
    </div>

    <div *ngIf="getCurrentPane()=='settings'">
      <app-settings></app-settings>
    </div>

    <div *ngIf="getCurrentPane()=='diceroller'">
      <app-diceroller></app-diceroller>
    </div>

    <div *ngIf="getCurrentPane()=='characters'">
      <div *ngIf="isUserSignedIn();else sign_in">
        <ul class="sub-menu" id="characters">
          <li *ngFor="let char of characters; let i = index" (click)="passCharacter(char)">
            <a href=#>{{char.key}}</a>
          </li>
          <li *ngIf="isUserSignedIn()">
            <input type="button" (click)="setChar()" value="Set Character">
            <app-char-generator (refresh)="refreshCharacters()"></app-char-generator>
          </li>
        </ul>
      </div>
      <ng-template #sign_in><h2>Please log in to view characters.</h2></ng-template>
    </div>

    <div *ngIf="getCurrentPane()=='sessions'">
      <ul class="sub-menu" id="games">
        <li *ngFor="let game of games; let i = index" (click)="passGame(game)">
          <a href=#>{{game.key}}</a>
        </li>
        <ng-container *ngIf="isUserSignedIn(); else elseTemplate">
          <app-game-generator (refresh)="refreshGames()"></app-game-generator>
        </ng-container>
        <ng-template #elseTemplate>
          <h2>Sign in to see games.</h2>
        </ng-template>
      </ul>
    </div>

    <div *ngIf="getCurrentPane()=='creator'">
      <app-creator></app-creator>
    </div>

    <div *ngIf="getCurrentPane()=='rules'">
      <app-rulebook></app-rulebook>
    </div>

    <div *ngIf="getCurrentPane()=='crit'">
      <app-critchart></app-critchart>
    </div>

  </div>
</mat-card>
<!--<div class="nav-side-menu">
  <div class="brand">Fantasy Club</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <i class="fa fa-dashboard fa-lg"></i> User : {{user_name}} <br>
        <i class="fa fa-dashboard fa-lg"></i> Character : {{actualChar}}
      </li>



      <li data-toggle="collapse" data-target="#inOut" class="collapsed active">
        <a href="#"><i class="fa fa-gift fa-lg"></i> Sign In/Out <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="inOut">
        <li (click)=signIn()>Sign In</li>
        <li (click)=signOut()>Sign Out</li>
      </ul>


      <li data-toggle="collapse" data-target="#characters" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Characters <span class="arrow"></span></a>
      </li>
      <div *ngIf="isUserSignedIn()">
        <ul class="sub-menu collapse" id="characters">

          <li *ngFor="let char of characters; let i = index" (click)="passCharacter(char)">
            {{char.key}}
          </li>

          <li *ngIf="isUserSignedIn()">
            <input type="button" (click)="setChar()" value="Set Character">
            <app-char-generator (refresh)="refreshCharacters()"></app-char-generator>
          </li>

        </ul>
      </div>

      <li data-toggle="collapse" data-target="#games" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Current Sessions <span class="arrow"></span></a>
      </li>
      
      <ul class="sub-menu collapse" id="games">
          <li *ngFor="let game of games; let i = index" (click)="passGame(game)">
              {{game.key}}
            </li>
        <ng-container *ngIf="isUserSignedIn(); else elseTemplate">
            <app-game-generator (refresh)="refreshGames()"></app-game-generator>
        </ng-container>
        <ng-template #elseTemplate>
          Sign in to see games
        </ng-template>
        
      </ul>

      <li data-toggle="collapse" data-target="#dice" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Dice Roller <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="dice">
        <app-diceroller></app-diceroller>
      </ul>

      <li data-toggle="collapse" data-target="#gm" class="collapsed no-display" id="gm-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> GM options <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse no-display" id="gm">
        <app-gm></app-gm>
      </ul>

      <li data-toggle="collapse" data-target="#item" class="collapsed" id="item-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Items <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="item">
        <app-item-creator (refresh)="refreshCreatedItems()"></app-item-creator>
      </ul>

      <li data-toggle="collapse" data-target="#spells" class="collapsed" id="spell-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Abilities <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="spells">
        <app-spellcard-creator></app-spellcard-creator>
      </ul>
      <div *ngIf="isUserGM()">
      <li data-toggle="collapse" data-target="#traps" class="collapsed" id="trap-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Traps <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="traps">
        <app-trap-creator></app-trap-creator>
      </ul>
      </div>
      <div *ngIf="isUserGM()">
        <li data-toggle="collapse" data-target="#NPCs" class="collapsed" id="NPC-container">
          <a href="#"><i class="fa fa-globe fa-lg"></i> NPC Creator <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="NPCs">
          <app-npc-creator></app-npc-creator>
        </ul>
        </div>
      <li data-toggle="collapse" data-target="#admin" class="collapsed no-display" id="admin-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Admin Settings <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse no-display" id="admin">
        <app-admin></app-admin>
      </ul>

      <li data-toggle="collapse" data-target="#settings" class="collapsed" id="settings-container">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Settings <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="settings">
        <app-settings></app-settings>
      </ul>

    </ul>
  </div>
</div> -->