/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.darkMode {
    background-color: #181c20;
    color: white;
  }

* {
  font-family: 'Lora', Helvetica, sans-serif;
}

body {
  background-image: url("./assets/images/parchment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.moss {
  background-image: url("./app/images/moss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.leather {
  background-image: url("./app/images/leather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.wood {
  background-image: url("./app/images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.scales {
  background-image: url("./app/images/scales.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.space {
  background-image: url("./app/images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.stone {
  background-image: url("./app/images/stone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.metal {
  background-image: url("./app/images/metal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.darkMode {
  background-image: url(https://www.runescape.com/img/rs3/background-content-top.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.cursive * {
  font-family: cursive !important;
}

.courier * {
  font-family: 'Courier New', Courier, monospace !important;
}

.georgia * {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}