/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.darkMode {
    background-color: #181c20;
    color: white;
  }

* {
  font-family: 'Lora', Helvetica, sans-serif;
}

body {
  background-image: url("./assets/images/parchment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.darkMode {
  background-image: url(https://www.runescape.com/img/rs3/background-content-top.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}