<div *ngIf="selectedChar;else NoChar">
  <h3 class="bg-dark text-white">{{selectedChar.key}}</h3>
  <button (click)="viewActivate()" id="viewButton">View</button>
  <button (click)="editActivate()" id="editButton">Edit</button>
  <button (click)="combatActivate()" id="combatButton">Combat</button>
  <br>
  <button *ngIf="edit == true" button id="submit" (click)="submitChanges()">Submit Changes</button>


</div>

<ng-template #NoChar>
  <h3>No character selected</h3>
</ng-template>

<ng-template #NoGame>
  <br><br>
  <h3>No game selected</h3>
</ng-template>


<div *ngIf="view == true">
  <div class="container-fluid">
    <div class="row border border-dark" *ngFor="let val of statValues; let i = index">
      <div class="col">
        {{statNames[i]}}
      </div>
      <div class="col">
        {{val}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="combat == true">
  <div class="container-fluid">
    <div class="row border border-dark" *ngFor="let val of combatStatValues; let i = index">
      <div class="col">
        {{combatStatNames[i]}}
      </div>
      <div class="col">
        {{val}}
      </div>
      <div *ngIf="i <= 3">
        <div class="col">
          <input type="number" value="{{ val }}" id="{{combatStatNames[i] + '-value'}}">
        </div>
      </div>
      <div *ngIf="i > 3 && i < 8">
        <input type="number" value="{{ 0 }}" id="{{combatStatNames[i] + '-mod'}}">
        <button (click)="toHitRoller(combatStatValues[i], combatStatNames[i] + '-mod')" id="{{combatStatNames[i] + '-roll'}}">Roll to hit</button>
      </div>
    </div>
  </div>
  <li id="total"> Total: {{rawRoll}} + {{modifier}} + {{amount}} = {{result}} </li>
</div>

<div *ngIf="edit == true">
  <div *ngIf="problem" class="alert alert-danger" role="alert">
    Please leave no value blank.
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        Stat
      </div>
      <div class="col">
        Current value
      </div>
      <div class="col"></div>
      <div class="col">
        New Value
      </div>
    </div>
    <div class="row border border-dark" *ngFor="let val of statValues; let i = index">
      <div class="col">
        {{ statNames[i] }}
      </div>
      <div class="col">
        <p class="text-center">{{val}}</p>
      </div>
      <div class="col">
        ----->
      </div>
      <div class="col">
        <input type="number" value="{{ val }}" id="{{statNames[i] + '-value'}}">
      </div>
    </div>
    <button id="submit" (click)="submitChanges()">Submit Changes</button>
  </div>
</div>

<div *ngIf="selectedGame; else NoGame">
  <h3 class="bg-dark text-white">Session: {{selectedGame.key}}</h3>
  <div *ngIf="hasAnnouncement && isUserInGame()">
    <h3 style="color: red;">{{currentAnnouncement}}</h3>
  </div>
  <div *ngIf="currentGameGM">
    <input style="display: inline;" type="text" id="new-announcement" />
    <input style="display: inline;" type="button" value="Change Announcement" (click)="changeAnnouncement()" />
  </div>
  <button (click)="printCharacters()">View Player Characters</button>
  <button (click)="printGM()">View GM</button>
  <button (click)="printDesc()">Description</button>
  <button (click)="showTraps()">Traps</button>
  <button (click)="showAbilities()">Abilities</button>
  <br>
  <h4 *ngIf="gamePlayerCountView"># of players: {{playerCount}}</h4>
  <h4 *ngIf="capacity">Capacity: {{capacity}} </h4>
  <h4 *ngIf="description">{{description}}</h4>
  <h4 *ngIf="GMDisplay">GM: {{GMDisplay}}</h4>
  <div *ngIf="playerCharacters.length > 0">
    <br>
    <h4>Players</h4>
    <li class="playerCharacterName" *ngFor="let player of playerCharacters; let i = index" (click)="showCharacter(i)">
      {{player}}
      <button *ngIf="currentGameGM" (click)="removeCharacterFromGame(i)">Remove</button>
    </li>
  </div>
  <div *ngIf="trapMenuToggle">
    <p *ngIf="noTrapMessage">No traps are currently in this game</p>
    <div *ngIf="!noTrapMessage">
      <ul>
        <li class="trap" *ngFor="let t of traps; let i = index" (click)="selectTrap(i)">
          {{t.key}}
        </li>
        <div *ngIf="selectedTrap != -1">
          <ul>
            <li *ngFor="let tInfo of trapInfo">
              {{tInfo.key}}
              <ul>
                <li> {{tInfo.val()}}</li>
              </ul>
            </li>
          </ul>
          <button (click)="selectTrap(-1)">Hide Trap</button>
        </div>
      </ul>
    </div>
  </div>
  <div *ngIf="abilityMenuToggle">
    <p *ngIf="noAbilityMessage">No abilities are currently in this game</p>
    <div *ngIf="!noAbilityMessage">
      <ul>
        <li class="ability" *ngFor="let a of abilities; let i = index" (click)="selectAbility(i)">
          {{a.key}}
        </li>
        <div *ngIf="selectedAbility != -1">
          <ul>
            <li *ngFor="let aInfo of abilityInfo">
              {{aInfo.key}}
              <ul>
                <li> {{aInfo.val()}}</li>
              </ul>
            </li>
          </ul>
          <button (click)="selectAbility(-1)">Hide Ability</button>
        </div>
      </ul>
    </div>
  </div>
  <br>
  <div *ngIf="currentGameGM">
    <input style="display: inline;" type="number" id="xp" placeholder="XP" min="0" />
    <button (click)="endGame()">End Game</button>
  </div>
</div>