<div *ngIf="selectedChar;else NoChar">
  <h3 class="bg-dark text-white">{{selectedChar.key}}</h3>
  <button (click)="viewActivate()" id="viewButton">View</button>
  <button (click)="editActivate()" id="editButton">Edit</button>

  <br>
  <button *ngIf="edit == true" button id="submit" (click)="submitChanges()">Submit Changes</button>


</div>

<ng-template #NoChar>
  <h3>No character selected</h3>
</ng-template>

<ng-template #NoGame>
  <br><br>
  <h3>No game selected</h3>
</ng-template>


<div *ngIf="view == true">
  <div class="container-fluid">
    <div class="row border border-dark" *ngFor="let val of statValues; let i = index">
      <div class="col">
        {{statNames[i]}}
      </div>
      <div class="col">
        {{val}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="edit == true">
  <div *ngIf="problem" class="alert alert-danger" role="alert">
    Please leave no value blank.
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        Stat
      </div>
      <div class="col">
        Current value
      </div>
      <div class="col"></div>
      <div class="col">
        New Value
      </div>
    </div>
    <div class="row border border-dark" *ngFor="let val of statValues; let i = index">
      <div class="col">
        {{ statNames[i] }}
      </div>
      <div class="col">
        <p class="text-center">{{val}}</p>
      </div>
      <div class="col">
        ----->
      </div>
      <div class="col">
        <input type="number" value="{{ val }}" id="{{statNames[i] + '-value'}}">
      </div>
    </div>
    <button id="submit" (click)="submitChanges()">Submit Changes</button>
  </div>
</div>

<div *ngIf="selectedGame; else NoGame">
  <h3 class="bg-dark text-white">Session: {{selectedGame.key}}</h3>
  <button (click)="printCharacters()">View Player Characters</button>
  <button (click)="printGM()">View GM</button>
  <br>
  <h4 *ngIf="GMDisplay">GM: {{GMDisplay}}</h4>
  <div *ngIf="playerCharacters">
    <h5 *ngFor="let player of playerCharacters">
      {{player}}
    </h5>
  </div>
  <br>
</div>