<div *ngIf="GMStatus">
    <h2>Private Items</h2>
    <button (click)=privateButton()>View</button>
    <div *ngIf="privateToggle">
        <ul>
            <li class="itemCategory" *ngFor="let item of privateItems">
                <button>Remove</button>
                <button (click)="setSelectedItem(item)">Select</button>
                {{item.key}}
            </li>
            <p *ngIf="privateItems.length == 0">You have no private items</p>
        </ul>
    </div>
    <br>
    <br>
</div>

<h2>Public Items</h2>
<button (click)=publicButton()>View</button>
<br>
<br>
<div *ngIf="publicToggle">
    <ul>
        <li class="itemCategory" *ngFor="let item of publicItems">
            <button *ngIf="GMStatus" (click)="removeItem(item)">Remove</button>
            <button (click)="setSelectedItem(item)">Select</button>
            {{item.key}}
        </li>
    </ul>
</div>
<br>
<br>

<div *ngIf="selectedItem">
    <h2>{{selectedItem.key}}</h2>
    <ul>
        <li>
            Creator : {{selectedItem.child("creatorName").val()}}
        </li>
        <li>
            Description : <br>
            <p class="descriptionText">{{selectedItem.child("desc").val()}}</p>
        </li>
    </ul>
    <button (click)="setSelectedItem(undefined)">Hide</button>
    <button (click)="displayEditor()" *ngIf="GMStatus">Edit</button>
    <button *ngIf="selectedItemType == 'private'" (click)="shareMenu()">Share</button>
    <div *ngIf="editDisplay">
        <input required type="text" id="itemNameInput" value="{{selectedItem.key}}">
        <br>
        <textarea id="itemDescription" cols="40" rows="5" required>{{selectedItem.child('desc').val()}}</textarea>
        <br>
        <button (click)="updateItem()">Submit</button>
    </div>

    <div *ngIf="shareMenuToggle" class="shareMenu">
        <input required type="text" id="inputGM" placeholder="Share with who?">
        <button (click)="shareWithGM()">Submit</button>
    </div>
</div>