<div *ngIf="GMStatus">
    <h2>Traps</h2>
    <button (click)=trapButton()>View</button>
    <div *ngIf="trapToggle">
        <ul>
            <li class="trapCategory" *ngFor="let trap of traps">
                <button (click)="removeTrap(trap)">Remove</button>
                <button (click)="setSelectedTrap(trap)">Select</button>
                {{trap.key}}
            </li>
            <p *ngIf="traps.length == 0">You have no traps</p>
        </ul>
    </div>
    <br>
    <br>
    <h2>Private Items</h2>
    <button (click)=privateButton()>View</button>
    <div *ngIf="privateToggle">
        <ul>
            <li class="itemCategory" *ngFor="let item of privateItems">
                <button (click)="removeItem(item)">Remove</button>
                <button (click)="setSelectedItem(item)">Select</button>
                {{item.key}}
            </li>
            <p *ngIf="privateItems.length == 0">You have no private items</p>
        </ul>
    </div>
    <br>
    <br>
</div>

<h2>Character Items</h2>
<button (click)=charButton()>View</button>
<div *ngIf="charToggle">
  <ul>
    <li class="itemCategory" *ngFor="let item of charItems">
      <button (click)="removeItem(item)">Remove</button>
      <button (click)="setSelectedItem(item)">Select</button>
      {{item.key}}
    </li>
  </ul>
</div>
<br>
<br>
<h2>Public Items</h2>
<button (click)=publicButton()>View</button>
<br>
<br>
<div *ngIf="publicToggle">
    <ul>
        <li class="itemCategory" *ngFor="let item of publicItems">
            <button *ngIf="GMStatus" (click)="removeItem(item)">Remove</button>
            <button (click)="setSelectedItem(item)">Select</button>
            {{item.key}}
        </li>
    </ul>
</div>
<br>
<br>

<div *ngIf="selectedItem">
    <h2>{{selectedItem.key}}</h2>
    <ul>
        <li>
            Creator : {{selectedItem.child("creatorName").val()}}
        </li>
        <li>
            Description : <br>
            <p class="descriptionText">{{selectedItem.child("desc").val()}}</p>
        </li>
        <li>
                Roll: {{selectedItem.child('diceAmount').val()}} d {{selectedItem.child('diceType').val()}}
        </li>
        <li *ngIf="selectedItemType != 'trap'">
            Bonus: {{selectedItem.child('bonus').val()}} to {{selectedItem.child('stat').val()}}
    </li>
    </ul>
    <button (click)="setSelectedItem(undefined)">Hide</button>
    <button (click)="displayEditor()" *ngIf="GMStatus">Edit</button>
    <button *ngIf="selectedItemType != 'trap'" (click)="setCharItem(selectedItem)">Add to Current Character</button>
    <button  (click)="rollTrap()">Roll Dice</button>
    <button (click)=addToGameToggler()>Add To Game</button>
    <!-- <ul *ngIf="selectedItemType == 'trap'"> -->
        <li *ngFor="let item of rolls; index as i" class="roll"> Roll {{i + 1}} : {{item}} </li>
        <li id="total"> Total {{total}} </li>
    <!-- </ul> -->
    <div *ngIf="addToGameToggle">
        <input type="text" id="gameName" placeholder="Game Name">
        <button id="gameSubmit" (click)="gameSubmit()">Submit</button>
    </div>
    <button *ngIf="selectedItemType == 'private'" (click)="shareMenu()">Share</button>
    <div *ngIf="editDisplay">
        <input type="text" id="itemNameInput" value="{{selectedItem.key}}">
        <br>
        <textarea id="itemDescription" cols="40" rows="5">{{selectedItem.child('desc').val()}}</textarea>
        <br>
        <li *ngIf="selectedItemType != 'trap'">Stat Bonus:<input type="number" id="upBonus" value="{{selectedItem.child('bonus').val()}}"></li> 
        <br>
        <li *ngIf="selectedItemType != 'trap'">Stat:<input type="text" id="upStat" value="{{selectedItem.child('stat').val()}}"></li> 
        <br>
        <!-- <div *ngIf="selectedItemType == 'trap'"> -->
            <input type="number" id="diceAmount2" value="{{selectedItem.child('diceAmount').val()}}" min="1">
            <input type="number" id="diceType2" value="{{selectedItem.child('diceType').val()}}" min="2">
        <!-- </div> -->
        <button (click)="updateItem()">Submit</button>
    </div>

    <div *ngIf="shareMenuToggle" class="shareMenu">
        <input required type="text" id="inputGM" placeholder="Share with who?">
        <button (click)="shareWithGM()">Submit</button>
    </div>
</div>