<p>
  Dice Roller
</p>

  <div *ngIf="savedRolls.length > 0">
    Used a saved configuration:
    <select id="savedRollSelect" #select (change)="fillFromSaved(select.value)">
      <option>-- Please Select An Option --</option>
      <option *ngFor="let item of savedRolls">{{item}}</option>
    </select>
    <input type="button" value="Delete Combination" (click)="deleteCombination()">
  </div>

  Amount to roll:<br>
  <input type="number" id="amount" min="1"><br>
  Type to roll:<br>
  <input type="number" id="type" min="2"><br>
  Modifier:<br>
  <input type="number" id="modifier"><br>
  <input style="display: inline;" type="button" (click)="DiceRoller()" value="Submit">
  <input style="display: inline;" type="button" (click)="saveDiceRoll()" value="Save"><br>
  <ul>
    <li *ngFor="let item of rolls; index as i" class="roll"> Roll {{i + 1}} : {{item}} </li>
    <li id="total"> Total {{total}} </li>
  </ul>
