<p>
  Dice Roller
</p>

  Amount to roll:<br>
  <input type="number" id="amount" min="1"><br>
  Type to roll:<br>
  <input type="number" id="type" min="2"><br>
  Modifier:<br>
  <input type="number" id="modifier"><br>
  <input style="display: inline;" type="button" (click)="DiceRoller()" value="Submit">
  <input style="display: inline;" type="button" (click)="saveDiceRoll()" value="Save"><br>
  <input style="display: inline;" type="button" (click)="averageDiceRoll()" value="Average"><br>
  <ul>
    <li *ngFor="let item of rolls; index as i" class="roll"> {{typeDisplay}} {{i + 1}} : {{item}} </li>
    <li id="total"> {{tagName}} {{total}} </li>
  </ul>
