#messageBox {
    background-color: white;
    color: black;
}
.listOfGame {
    color: blue;
}

#messageEnter {
    width: 90%;
}
#mesButton {
    width: 10%;
}

.listOfGame:hover {
    color: lightblue;
}

.darkMode {
    background-color: black !important;
    color: white !important;
}
