<input type="button" (click)="joinGame()" value="Join Game"> <br>
<p id="errorText">{{errorText}}</p>
<ng-container *ngIf="isUserGMGame()">
  Create Game <br>
  New Session Name:<br>
  <input type="text" id="name2"><br>
  New Session Description:<br>
  <input type="text" id="desc"><br>
  Capacity (optional) :
  <input id="capacityBox" type="number" value="0" min="0"> <br>
  Image URL (Optional):<br>
  <input type="text" id="gamePic">
  <br>
  Select Background (Optional):
  <br>
  <select id="bg-select" #bgselect (change)="updateBG(bgselect.value)">
    <option>None</option>
    <option>paper</option>
    <option>mossy cobblestone</option>
    <option>leather</option>
    <option>wood</option>
    <option>scales</option>
    <option>space</option>
    <option>stone</option>
    <option>metal</option>
  </select>
  <br>
  <input type="button" (click)="createGame()" value="Submit">
  <input type="button" (click)="deleteGame()" value="Remove">
  <input type="button" (click)="archiveGame()" value="Archive">
  <br>
  
</ng-container>