.row {
    margin: 10px;
    background-image: url("../assets/images/parchment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.darkMode {
    background-image: url(https://www.runescape.com/img/rs3/background-content-top.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}