<h2>Character Abilities</h2>
<button (click)=charButton()>View</button>
<div *ngIf="charToggle">
  <ul>
    <li class="spellCategory" *ngFor="let spell of charSpells">
      <button (click)="removeSpell(spell)">Remove</button>
      <button (click)="setSelectedSpell(spell)">Select</button>
      {{spell.key}}
    </li>
  </ul>
</div>
<br>
<br>

<h2>Private Abilities</h2>
<button (click)=privateButton()>View</button>
<div *ngIf="privateToggle">
  <ul>
    <li class="spellCategory" *ngFor="let spell of privateSpells">
      <button (click)="removeSpell(spell)">Remove</button>
      <button (click)="setSelectedSpell(spell)">Select</button>
      {{spell.key}}
    </li>
    <p *ngIf="privateSpells.length == 0">You have no private abilities</p>
  </ul>
</div>
<br>
<br>


<h2>Public Abilities</h2>
<button (click)=publicButton()>View</button>
<br>
<br>
<div *ngIf="publicToggle">
  <ul>
    <li class="spellCategory" *ngFor="let spell of publicSpells">
      <button (click)="removeSpell(spell)">Remove</button>
      <button (click)="setSelectedSpell(spell)">Select</button>
      {{spell.key}}
    </li>
  </ul>  
</div>


<div *ngIf="selectedSpell">
  <h2>{{selectedSpell.key}}</h2>
  <ul>
      <li>
          Creator : {{selectedSpell.child("creatorName").val()}}
      </li>
      <li>
          Description : <br>
          <p class="descriptionText">{{selectedSpell.child("desc").val()}}</p>
      </li>
      <li>
              Roll: {{selectedSpell.child('diceAmount').val()}} d {{selectedSpell.child('diceType').val()}}
      </li>
  </ul>
  <button (click)="setSelectedSpell(undefined)">Hide</button>
  <button *ngIf="selectedSpellType == 'private' || isUserGM()" (click)="displayEditor()">Edit</button>
  <button (click)="setCharSpell(selectedSpell)">Add to Current Character</button>
  <button (click)="rollSpell()">Roll Dice</button>
  <button (click)=addToGameToggler()>Add To Game</button>
  <input *ngIf="selectedSpell.child('diceAmount').val() == -1" required type="number" id="varDiceAmount" value="1" min="1">
  <br><button (click)="statCompare()">Compare Against</button> <input  required type="text" id="stat">
  <ul >
      <li *ngFor="let item of rolls; index as i" class="roll"> Roll {{i + 1}}: {{item}} </li>
      <li id="total"> Total: {{total}} </li>
    </ul>
    <div *ngIf="addToGameToggle">
        <input type="text" id="gameName2" placeholder="Game Name">
        <button id="gameSubmit2" (click)="gameSubmit()">Submit</button>
    </div>
    <p *ngIf="statComp != ''">{{statComp}}</p>
  <div *ngIf="editDisplay">
      <input required type="text" id="SpellNameInput" value="{{selectedSpell.key}}">
      <br>
      <textarea id="SpellDescription" cols="40" rows="5" required>{{selectedSpell.child('desc').val()}}</textarea>
      <br>
      
          <input required type="number" id="diceAmount3" value="{{selectedSpell.child('diceAmount').val()}}" min=""> 
          <input required type="number" id="diceType3" value="{{selectedSpell.child('diceType').val()}}" min="2">
      
      <button (click)="updateSpell()">Submit</button>
      <br>
      <br>
      <input *ngIf="selectedSpellType == 'private' || isUserGM()" required type="text" id="shareSpell">
      <button *ngIf="selectedSpellType == 'private' || isUserGM()" (click)="shareSpell()">Share</button>
  </div>
