<ng-container *ngIf="isUserLogged()">
  New Ability Card:
  <br>
  <input type="text" id="spellName">
  <br>
  New Ability Description:
  <br>
  <input type="text" id="spellDesc">
  <br>
  Dice Rolls:
  <br>
  Amount:
  <br>
  <input type="number" id="spellDiceAmount" min="1"> 
  <br>
  Type:
  <br>
  <input type="number" id="spellDiceType" min="2">
  <br>
  <input type="button" (click)="createPrivateSpell()" value="Create Private Ability">
  <div *ngIf=isUserGM()><input type="button" (click)="createPublicSpell()" value="Create Public Ability"></div>
  <br>
</ng-container>