<button (click)="charViewerToggle()">Toggle Character Viewer</button>
<br>
<div *ngIf="displayToggle">
  <br>
  <button (click)="sharedToggle = !sharedToggle; sharedMenuFill()">View Shared with Me</button>
  <div *ngIf="sharedToggle">
    <p *ngIf="sharedViewerLoading">&emsp;Loading... </p>
    <ul *ngIf="sharedViewerLoading == false && sharedMenuNames.length > 0">
      <li class= "highlight" *ngFor="let name of sharedMenuNames; let i = index" (click)="setFriendIndex(i)">
        {{name}}
        <ul>
          <div *ngIf="i == friendCharIndex && friendChars.length > 0">
            <li class="highlight" *ngFor="let character of friendChars" (click)="viewCharacter(character)">{{character.key}}</li>
          </div>
        </ul>
      </li>
    </ul>
    <p *ngIf="sharedViewerLoading == false && sharedMenuNames.length == 0">There are no characters shared with you
      currently.</p>
  </div>
  <br>

  <button (click)="shareMenuToggle = !shareMenuToggle">Share with another Player</button>
  <br>

  <div *ngIf="shareMenuToggle">
    <input type="text" id="inputCharacter" placeholder="Character To Share">
    <br>
    <input type="text" id="inputPlayer" list="allUsers" placeholder="Share with whom?">
    <datalist id="allUsers">
        <option *ngFor="let player of players">{{player}}</option>
      </datalist>
    <button (click)="shareCharacter()">Share!</button>
  </div>
  <div *ngIf="adminStatus">
    <button>Search</button>
  </div>
  <div *ngIf="selectedCharacter != undefined">
    <hr>
    <button *ngIf="selectedCharacter != undefined" (click)="viewCharacter((undefined))">Hide Character</button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg">
          <p>{{selectedCharacter.key}}</p>
        </div>
      </div>
      <div class="row border border-info" *ngFor="let stat of statName; let i = index">
        <div class="col">
          {{statName[i]}}
        </div>
        <div class="col">
          {{statValue[i]}}
        </div>
      </div>
    </div>
  </div>

</div>