<ng-container *ngIf="isUserGM()">
  New Item Name:
  <br>
  <input type="text" id="itemName">
  <br>
  New Item Description:
  <br>
  <input type="text" id="itemDesc">
  <br>
  Dice Rolls:
  <br>
  Amount (Leave blank for dynamic amount):
  <br>
  <input type="number" id="itemDiceAmount" min="1"> 
  <br>
  Type:
  <br>
  <input type="number" id="itemDiceType" min="2">
  <br>
  Stat Bonus:
  <br>
  Stat:
  <br>
  <input type="text" id="itemStat"> 
  <br>
  Bonus:
  <br>
  <input type="number" id="itemStatBonus" min="">
  <br>
  <input type="button" (click)="createPrivateItem()" value="Create Private Item">
  <input type="button" (click)="createPublicItem()" value="Create Public Item">
  <br>
</ng-container>